# This is Jeopardy!

#### Overview

This project is slightly different than others you have encountered thus far. Instead of a step-by-step tutorial, this project contains a series of open-ended requirements which describe the project you'll be building. There are many possible ways to correctly fulfill all of these requirements, and you should expect to use the internet, Codecademy, and/or other resources when you encounter a problem that you cannot easily solve.

#### Project Goals

You will work to write several functions that investigate a dataset of _Jeopardy!_ questions and answers. Filter the dataset for topics that you're interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

## Prerequisites

In order to complete this project, you should have completed the Pandas lessons in the <a href="https://www.codecademy.com/learn/paths/analyze-data-with-python">Analyze Data with Python Skill Path</a>. You can also find those lessons in the <a href="https://www.codecademy.com/learn/data-processing-pandas">Data Analysis with Pandas course</a> or the <a href="https://www.codecademy.com/learn/paths/data-science/">Data Scientist Career Path</a>.

Finally, the <a href="https://www.codecademy.com/learn/practical-data-cleaning">Practical Data Cleaning</a> course may also be helpful.

## Project Requirements

1. We've provided a csv file containing data about the game show _Jeopardy!_ in a file named `jeopardy.csv`. Load the data into a DataFrame and investigate its contents. Try to print out specific columns.

   Note that in order to make this project as "real-world" as possible, we haven't modified the data at all - we're giving it to you exactly how we found it. As a result, this data isn't as "clean" as the datasets you normally find on Codecademy. More specifically, there's something odd about the column names. After you figure out the problem with the column names, you may want to rename them to make your life easier for the rest of the project.
   
   In order to display the full contents of a column, we've added this line of code for you:
   
   ```py
   pd.set_option('display.max_colwidth', None)
   ```

In [7]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

jeopardy_data = pd.read_csv("jeopardy.csv")

# print(jeopardy_data.head())
print(jeopardy_data.columns)

jeopardy_data = jeopardy_data.rename(columns={" Air Date": "Air Date", " Round": "Round", " Category": "Category", " Value": "Value", " Question": "Question", " Answer": "Answer"})

print(jeopardy_data.columns)

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')
Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

2. Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list `["King", "England"]` was passed to our function, the function returned a DataFrame of 49 rows. Every row had the strings `"King"` and `"England"` somewhere in its `" Question"`.

   Test your function by printing out the column containing the question of each row of the dataset.

In [21]:
def filter(keywords, data):
    
    filter = lambda x: all(word.lower() in x.lower() for word in keywords)
    
    return data.loc[data["Question"].apply(filter)]

# print(filter(["King","England"], jeopardy_data))
print(filter(["King"], jeopardy_data))
# print(filter(["king"], jeopardy_data))

        Show Number    Air Date             Round                    Category  \
34             4680  2004-12-31  Double Jeopardy!                 "X"s & "O"s
40             4680  2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
50             4680  2004-12-31  Double Jeopardy!  DR. SEUSS AT THE MULTIPLEX
56             5957  2010-07-06         Jeopardy!               GEOGRAPHY "E"
72             5957  2010-07-06         Jeopardy!                LET'S BOUNCE
...             ...         ...               ...                         ...
216777         5070  2006-09-29  Double Jeopardy!             ANCIENT HISTORY
216787         5070  2006-09-29  Double Jeopardy!    TALES OF E.T.A. HOFFMANN
216789         5070  2006-09-29  Double Jeopardy!             ANCIENT HISTORY
216856         5195  2007-03-23  Double Jeopardy!            HAIL TO THE CHEF
216916         4999  2006-05-11  Double Jeopardy!                  QUOTATIONS

         Value  \
34        $400
40       $1200
50       $2000
56        $200
72        $600
...        ...
216777    $400
216787  $2,000
216789   $1200
216856   $1600
216916  $2,200

                                                                                                                                                                                 Question  \
34                                                                                  Around 100 A.D. Tacitus wrote a book on how this art of persuasive speaking had declined since Cicero
40      <a href="http://www.j-archive.com/media/2004-12-31_DJ_26.mp3">Ripped from today's headlines, he was a turtle king gone mad; Mack was the one good turtle who'd bring him down</a>
50                    <a href="http://www.j-archive.com/media/2004-12-31_DJ_24.mp3">"500 Hats"... 500 ways to die.  On July 4th, this young boy will defy a king... & become a legend</a>
56                                                                                                                                         It's the largest kingdom in the United Kingdom
72                                                                                            In this kid's game, you bounce a small rubber ball while picking up 6-pronged metal objects
...                                                                                                                                                                                   ...
216777                                                                 The first one of these tombs was built about 2650 B.C. by Imhotep for King Zoser & rose about 200 feet using steps
216787                                                                                   A Hoffmann tale title lost the words "And The Mouse King" when it became this Tchaikovsky ballet
216789                                                                                 This kingdom of England grew from 2 settlements, one founded around 495 by Cerdic & his son Cynric
216856                                        You can cook like <a href="http://www.j-archive.com/media/2007-03-23_DJ_24.jpg" target="_blank">this</a> man who wrote "The Joy of Wokking"
216916                                                                                                          Oscar Wilde called this 4-letter word "the curse of the drinking classes"

                                   Answer
34                                oratory
40                                 Yertle
50                    Bartholomew Cubbins
56                                England
72                                  jacks
...                                   ...
216777  a pyramid (the pyramids accepted)
216787                     The Nutcracker
216789                             Wessex
216856                       (Martin) Yan
216916                               work

[7409 rows x 7 columns]

3. Test your original function with a few different sets of words to try to find some ways your function breaks. Edit your function so it is more robust.

   For example, think about capitalization. We probably want to find questions that contain the word `"King"` or `"king"`.
   
   You may also want to check to make sure you don't find rows that contain substrings of your given words. For example, our function found a question that didn't contain the word `"king"`, however it did contain the word `"viking"` &mdash; it found the `"king"` inside `"viking"`. Note that this also comes with some drawbacks &mdash; you would no longer find questions that contained words like `"England's"`.

4. We may want to eventually compute aggregate statistics, like `.mean()` on the `" Value"` column. But right now, the values in that column are strings. Convert the`" Value"` column to floats. If you'd like to, you can create a new column with float values.

   Now that you can filter the dataset of question, use your new column that contains the float values of each question to find the "difficulty" of certain topics. For example, what is the average value of questions that contain the word `"King"`?
   
   Make sure to use the dataset that contains the float values as the dataset you use in your filtering function.

In [27]:
import re

string_to_float = lambda x: re.sub("[$,]", "", x) if x != None else 0

jeopardy_data["Value (Float)"] = jeopardy_data["Value"].apply(string_to_float)
print(jeopardy_data.head())

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer Value (Float)
0  Copernicus           200
1  Jim Thorpe           200
2     Arizona           200
3  McDonald's           200
4  John Adams           200

5. Write a function that returns the count of unique answers to all of the questions in a dataset. For example, after filtering the entire dataset to only questions containing the word `"King"`, we could then find all of the unique answers to those questions. The answer "Henry VIII" appeared 55 times and was the most common answer.

In [35]:
def unique_answer_count(data):
    new_df = data.groupby(["Question", "Answer"])["Answer"].count()
    print(new_df)
    
unique_answer_count(jeopardy_data)

Question                                                                                                                                                                                       Answer
" 'Cause I'm never gonna stop the rain by complaini                                                                                                                                            Butch Cassidy and the Sundance Kid                      1
" 'Charge' was the captain's cry; theirs not to reason why, theirs not to make reply"                                                                                                          Alfred Lord Tennyson ("Charge of the Light Brigade")    1
" 'I'm going to the racetrac                                                                                                                                                                   Tom Swifty                                              1
" _____  " & " ____ in the Air"                                                                                                                                                                Up                                                      1
" _____ Hills, 90210"                                                                                                                                                                          B-E-V-E-R-L-Y                                           1
                                                                                                                                                                                                                                                      ..
…to Italy, where we tasted tiramisu, which was yummy, & gorgonzola, a type of this, which was yucky!                                                                                           cheese                                                  1
…to New York City where we visited the Museum of Modern Art & saw this man's famous painting, <a href="http://www.j-archive.com/media/2005-10-10_J_30.jpg" target="_blank">"Starry Night"</a>  Vincent Van Gogh                                        1
…to Paris, France where we saw this famous landmark that's pictured <a href="http://www.j-archive.com/media/2005-10-10_J_24.jpg" target="_blank">here</a>                                      the Eiffel Tower                                        1
…to this U.S. city where we got to see Mt. Rainier form the top of the Space Needle                                                                                                            Seattle                                                 1
…want to compete in dressage, so she'll have to take these lessons                                                                                                                             riding lessons                                          1
Name: Answer, Length: 216546, dtype: int64
China                             216
Australia                         215
Japan                             196
Chicago                           194
France                            193
                                 ...
the barre (or bar)                  1
grams                               1
the Hopis                           1
free parking                        1
Grigori Alexandrovich Potemkin      1
Name: Answer, Length: 88268, dtype: int64

6. Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven't even started looking at yet. Here are some ideas on ways to continue working with this data:

 * Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word `"Computer"` compared to questions from the 2000s?
 * Is there a connection between the round and the category? Are you more likely to find certain categories, like `"Literature"` in Single Jeopardy or Double Jeopardy?
 * Build a system to quiz yourself. Grab random questions, and use the <a href="https://docs.python.org/3/library/functions.html#input">input</a> function to get a response from the user. Check to see if that response was right or wrong.

## Solution

7. Compare your program to our <a href="https://content.codecademy.com/PRO/independent-practice-projects/jeopardy/jeopardy_solution.zip">sample solution code</a> - remember, that your program might look different from ours (and probably will) and that's okay!

8. Great work! Visit <a href="https://discuss.codecademy.com/t/this-is-jeopardy-challenge-project-python-pandas/462365">our forums</a> to compare your project to our sample solution code. You can also learn how to host your own solution on GitHub so you can share it with other learners! Your solution might look different from ours, and that's okay! There are multiple ways to solve these projects, and you'll learn more by seeing others' code.